/* colores a utilozar a lo largo del trabajo */
$redbull:rgb(16, 27, 45);
$redbull_letra:rgb(230, 5, 49);
$ferrari:rgb(228, 0, 27);
$mercedes:rgb(25, 33, 35);
$mercedes_letra:rgb(59, 149, 137);
$alpine:rgb(10, 23, 40);
$alpine_letra:rgb(210, 146, 183);
$mclaren:rgb(242, 134, 0);
$astonmartin:rgb(10, 90, 79);
$tauri_letra:rgb(10, 40, 64);
$romeo:rgb(160, 31, 51);
$williams: rgb(6, 30, 66);
$williams_letra:rgb(6, 158, 231);
$hass:rgb(14, 10, 9);
$hass_letra:rgb(235, 0, 33);
$f1:rgb(238, 0, 0);