/* pagina de estilos */

/* importo partials */
@import 'colores';
@import 'mixins';
@import 'ids';
@import 'animaciones';

body {/* estilo de letra */
    font-family: "Rubik";
}

main {/* propiedades del main */
    @include dir;
}

.der{/* despocicion a la derecha */
    @include dir (right, right, right);
}

.izq{/* despocicion a la izquierda */
    @include dir (left, left, left);
}

footer {/* estilo para el pie de pagina */
    background-color: gray;
    border: 5px solid gray;
    ul{
    list-style: none;}
    li a{
    color: white;
    text-decoration: none;}
}

/* tamano de la fuente dependiendo de la importancia del contenido */
h1 {
    margin-top: 30px;
    font-size: 50px;
}
h2 {
    margin-top: 30px;
    font-size: 25px;
}
h3 {
    margin-top: 30px;
    font-size: 20px;
}
p {
    margin-top: 30px;
    font-size: 15px;
} 