body {/* cargo el tipo de letra para todas las paginas */
    font-family: "Rubik";
}

.logo {
    padding: 10px;
}

.menu ul{
    list-style: none;
}
.menu li a{
    width: 80px;
    background-color: black;
    border: 10px solid black;
    color: rgb(238, 0, 0);
    text-decoration: none;
    display: block;
}/* termino con el menu, tendria que quedar uno al lado del otro mas adelante */

#home {/* definicion de los amrgenes de casi todas las partes de la pagina */
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 50px;
}

.cen{/* defino aliniacion del contenido de manera centrada */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.der{/* defino aliniacion del contenido a la derecha*/
    text-align: right;
    align-items: right;
    justify-content: right;
}

#pilotos { /* pilotos y equipos no tienen marguen */
    margin: 0px;
}

#pilotos article img{/* las img de los pilotos tienen fondo blanco */
    background-color: white;
    border: 5px solid black;
}

/* comienzo a definir los colores que usara cada equipo */

#rb {
    color: rgb(230, 5, 49);
    background-color: rgb(16, 27, 45);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#ferr{
    color: black;
    background-color: rgb(228, 0, 27);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mer{
    color: rgb(59, 149, 137);
    background-color: rgb(25, 33, 35);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#al {
    color: rgb(210, 146, 183);
    background: rgb(10, 23, 40);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mcl {
    color: white;
    background-color: rgb(242, 134, 0);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#am {
    color: white;
    background-color: rgb(10, 90, 79);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#alpha {
    color: rgb(10, 40, 64);
    background-color: white;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#ar {
    color: black;
    background-color: rgb(160, 31, 51);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#will {
    color: rgb(6, 158, 231);
    background-color: rgb(6, 30, 66);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#hass {
    color: rgb(235, 0, 33);
    background-color: rgb(14, 10, 9);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* los 10 equipos ya estan personalizadso, quiciera ponerle la tipografia de cada equipo mas adelante pero no todos la tienen en linea y no pude buscar sus remplazos */

/* un nuevo tipo para los vordes de algunos inicios de pagina */

#noticia {
    background-color: #fff;
    border-right: 10px solid rgb(238, 0, 0);
    border-left: 10px solid rgb(238, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
}

/* defino cuerpos para los gps dependiendo su quedan de derecha o izquierda, uso el mismo id para las noticias */
#gp1 {
    background-color: #fff;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-right: 10px solid rgb(238, 0, 0);
    border-bottom: 10px solid rgb(238, 0, 0);
    border-top: 10px solid rgb(238, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
}

#gp2 {
    text-align: right;
    align-items: right;
    justify-content: right;
    background-color: #fff;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-left: 10px solid rgb(238, 0, 0);
    border-bottom: 10px solid rgb(238, 0, 0);
    border-top: 10px solid rgb(238, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
}


/* le doy color al footer y tambien corrigo levemente su menu de navegacion*/
#footer {
    margin: 0px;
    background-color: gray;
    border: 5px solid gray;
}

#footer ul{
    list-style: none;
}
#footer li a{
    color: white;
    text-decoration: none;
}
/* comienzo a definir el tamaño de letras */
h1 {
    margin-top: 30px;
    font-size: 50px;
}
h2 {
    margin-top: 30px;
    font-size: 25px;
}
h3 {
    margin-top: 30px;
    font-size: 20px;
}
p {
    margin-top: 30px;
    font-size: 15px;
}